NVIDIA_API_KEY=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
NVIDIA_MODEL=nvidia/nemotron-3-nano-30b-a3b
NVIDIA_BASE_URL=https://integrate.api.nvidia.com/v1
SITE_URL=https://your-deployed-site-url.example
